body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

#body-header {
    height: 65vh;
    background-image: url(../image/mountains.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1.5rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgreen;
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a img {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a img:hover {
    box-shadow: 0px 0px 6px 4px blueviolet;
}

/* about section */

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgray;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

/* all the section that we will be creating will have the direction has flex */

section {
    width: 100%;
    /* this is 100% width of the parent.  */
    display: flex;
    flex-direction: column;
    /* height: 75vh; */
    /* this enables to see the nth child gray white by setting the height. */
    align-items: center;
    /* align items works across the cross-axis, the main axis is column axis so the
    cross axis will be horizontal, 
     this will make the skills, div  in center */
}

/* we might have noticed every alternative section has same color, one way to decide 
the color is writing id and deciding the background-color another way is to write css in a pseduo clas way. */

section:nth-child(2n) {
    background-color: #9e9b9b29;
    /* 2n is even section of the child 2, ,4 ,6,8 */
}

section:nth-child(2n+1) {
    background-color: white;
    /* 2n+1 is odd section of the child 1,3,5,7 */
}

/* skills of the icons and   */

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    /* margin: 10px auto; */
    /* no need of margin becuse skills will be automatically centralized. */
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0, 5rem;
}

/* the sectio-heading and .section-heading span are basic setup for the icon,
color and its positioning */

.skills-display {
    width: 75%;
    /* height: 100px;
    border: 2px solid black; */
    /* The height and border is something that we don't need now. */
    display: flex;
    /* the .skills-display will have multiple skills,so for that the display should
    be flex */
    flex-wrap: wrap;
    /* number of skills in one line is adjusting accroring to dimension, thus flex:
    wrap should be wrap. */
    justify-content: space-evenly;
    /* spaces between skills should be even and adjust accordingly. */
    padding: 10px;
    margin-bottom: 30px;
}

.skill-progress {
    height: 2.2rem;
    width: 11rem;
    /* indicates the length and width of the box i.e c++ */
    background-color: lightgray;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
    /* border: 2px solid black; */
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    vertical-align: middle;
}

.skill-progress>div {
    /* if we have written .skill-progess div , this css rule would have applied to all
    div within skill progess but writinh > will apply only to direct child of skill
    progress i.e 85% and mb-blue  and other div within child div will not be applied */
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}

/* common margin classes  */

.mb75px {
    margin-bottom: 75px;
}

/* common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}

/* setting background color */

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ec4d1c;
}

.mb-teal {
    background-color: #0b8176;
}

.mb-light-purple {
    background-color: #93738c;
}

/* percentage classes */

.eighty-five-percent {
    width: 85%;
    height: inherit;
}

.eighty-percent {
    height: inherit;
    width: 80%;
}

.fifty-percent {
    height: inherit;
    width: 50%;
}