body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

#body-header {
    height: 65vh;
    background-image: url(../image/mountains.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1.5rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover {
    color: lightgreen;
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}

#name-social-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a img {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a img:hover {
    box-shadow: 0px 0px 6px 4px blueviolet;
}

/* about section */

#about {
    height: auto;
    width: 100%;
    position: relative;
    /* the image might come under the background, we want the image in
    the about seciton to come over the background imaage., so 
    make posiiton relative, which will place relative to it's original 
    position. which will apperar over elements. */
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    /* this will bring image to center */
    margin-top: -17vh;
    /* this will give negative maergin to the image, which results the
    image to be little bit up. */
}

/* to set height and height accoriding to the parent div we need too  */

#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* border-radius results our image to be circular */
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgray;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
    /* everything about paragraph section */
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
    /* everything about text highlight  */
}